*{
  margin: 1px;
  padding: 0px;
  font-family: "gilroy";
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
}


#container{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: #000 solid 1px;
  overflow: hidden;
  padding: 30px;
}

/* Make sure your main container stays above */
#container {
  position: relative;
  z-index: 2;
}

#clearBtn {
  position: absolute;
  margin-top: 10px;
  right: 30px;
  
  width: 20px;
  height: 20px;
  background: #000;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.6s ease;
  
}

#clearBtn svg {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  stroke: #fff;
  stroke-width: 1.4;
  
}

#clearBtn.rotate {
  transform: rotate(180deg);
}


/* Trail layer (background playground) */
#trail-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
#idk {
  position: fixed;
  width: 32px;
  height: 32px; 
  background: rgb(201, 138, 89);
  pointer-events: none;
  z-index: 9999;

  transform: translate(-50%, -50%);
  transition: background 0.2s ease;
}

#idk.invert{
  mix-blend-mode: difference;
}


#btn {
  width: 20px;
  height: 20px;
  background: #000;
  border: none;
  margin-top: 10px;

  transition: 
    transform 0.7s ease,
    border-radius 0.7s ease;

  transform: rotate(0deg);
  border-radius: 50%;
  
}

#btn svg{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  stroke-width: 1.4;
  stroke: #fff;
}

#btn svg,
#clearBtn svg {
  pointer-events: none;
}

.arrow-head {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* active state */
#btn.active .horiz {
  opacity: 0;
}

#btn.active .arrow-head {
  opacity: 1;
}

#btn.active {
  transform: rotate(360deg);
  border-radius: 50%;
}

li.strike-through .task-text {
  text-decoration: line-through;
}

#taskInput{
  display: none;
  border: none;
  outline: none;
  
}

ul{
  user-select: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size:medium;
  font-family: "gilroy";
  font-weight: bolder;
  max-height: 350px;
  overflow: hidden;                  /* take remaining space */
  overflow-y: auto;         /* vertical scroll */
  list-style: none;
  scrollbar-width: none;
}

li{
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin-bottom: 8px;
  line-height: 1.4;
}

.delete {
  opacity: 0;
  cursor: pointer;
  margin-left: 10px;
  color: red;
  transition: opacity 0.2s;
}

li:hover .delete {
  opacity: 1;
}